body{
  background-color:antiquewhite;
}

img{
  width:320px;
  border: 10px ;
  border-style: double;
  border-radius: 23px;

}

h1{
  font-size: 59px;
  text-align: center;
  text-decoration: underline;
  font-family: 'Patrick Hand', cursive;
}

h2{
  text-align: center;
  text-decoration: underline;
  font-family: 'Patrick Hand', cursive;
}

h3{
  font-family: 'Chewy', cursive;
  font-size: 35px;
  letter-spacing: 4px;
  text-decoration: underline darkorange 7px dotted;
  
}

h4{
  font-family: monospace;
  font-size: 23px;
  font-weight: bold;
}


.Costumes{
  font-family: 'Rancho', cursive;
  font-size: 30px;
  background-color:beige;
}

.All_about_Halloween{
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
}

.Countries{
  font-family: 'Averia Serif Libre', cursive;
  font-size: 20px;
  font-weight: bold;
  background-color: blanchedalmond;
}

.Pumpkin_with_candle{
  font-family:monospace;
  font-size:20px;
  font-weight: bold;
  background-color: cornsilk;
}
.Trick_or_Treat{
  font-family:cursive;
  font-size: 20px;
  font-weight: bold;
  background-color:pink
}